.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: (inherit);
  border: 1.5vw solid var(--blue-theme);
  border-radius: 4em;
}

#portfolioTitle {
  color: var(--blue-theme);
  text-align: center;
  margin-top: 0.5vh;
  margin-bottom: 8vh;
  font-size: 200%;
}

#imgAndInfoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#imgContainer {
  position: relative;
  display: flex;
  top: -7.5vh;
  width: 100%;
  height: 40%;
  justify-content: space-evenly;
  margin-bottom: 0vh;
}

.projImgRight,
.projImgMiddle,
.projImgLeft {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  transition: transform 0.125s;
  z-index: 98;
}

.projImgMiddle:hover,
.projImgRight:hover,
.projImgLeft:hover {
  position: absolute;
  opacity: 1;
  z-index: 100;
}
.projImgMiddle:hover {
  transform: matrix(5.5, 0, 0, 5.5, 100, 80);
}
.projImgLeft:hover {
  transform: matrix(5.5, 0, 0, 5.5, 200, 80);
}
.projImgRight:hover {
  transform: matrix(4.5, 0, 0, 4.5, 0, 35);
}

.center {
  position: absolute;
  color: var(--pink-theme);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5vw;
  transition: 0.1s ease;
  z-index: 99;
}

.projImg:hover .center {
  opacity: 0;
}

.projImgContainer {
  position: relative;
  height: 10vw;
  width: 10vw;
  border: 3px solid var(--pink-theme);
  border-radius: 0.8em;
  margin: 1vw;
}

#infoContainer {
  position: relative;
  margin-top: 5vh;
  top: -10vh;
  width: 100%;
  height: 100%;
}

p,
h2 {
  color: var(--yellow-theme);
}

#downArrowContainer {
  position: absolute;
  top: 52.5vh;
  left: 73vw;
  transform: translate(50%, 50%);
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  z-index: 100;
}

#downArrow {
  transform: rotate(90deg);
  position: absolute;
  width: 5vw;
  height: 5vw;
  z-index: 100;
}
#upArrowContainer {
  position: absolute;
  top: 52.5vh;
  left: 73vw;
  transform: translate(50%, 50%);
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  z-index: 100;
}

#upArrow {
  transform: rotate(-90deg);
  position: absolute;
  width: 5vw;
  height: 5vw;
  z-index: 100;
}
