#title {
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 3%;
  margin-bottom: 1.5%;
}
@-webkit-keyframes myName {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes myName {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.8;
  }
}
.myName {
  color: var(--blue-theme);
  letter-spacing: 0.025em;
  display: block;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 380%;
  margin-bottom: 0.6%;
  -webkit-animation: myName 2.5s both;
  animation: myName 2.5s both;
}

.jobTitle {
  display: block;
  text-align: center;
  margin-top: 4%;
  margin: 1%;
  text-shadow: 1.25px 1.25px 0 rgba(0, 0, 0, 0.35);
  font-size: 200%;
  text-align: center;
  color: var(--blue-theme);
}

@media only screen and (max-width: 375px) {
  #title {
    width: 80%;
  }
  .myName {
    font-size: 300%;
    text-align: center;
  }

  .jobTitle {
    font-size: 150%;
    text-align: center;
  }
}
@media only screen and (min-width: 375px) and (max-width: 1355px) {
  #title {
    position: absolute;
    display: block;
    width: 100%;
  }
  .myName {
    font-size: 360%;
    text-align: center;
  }

  .jobTitle {
    font-size: 200%;
    text-align: center;
  }
}
