#title {
  position: absolute;
  display: block;
  left: 20%;
  top: 0%;
  /* position: fixed; */
  /* bring your own prefixes */
}
@-webkit-keyframes myName {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes myName {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.myName {
  color: rgba(0, 158, 225, 255);

  display: block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 10vh;
  margin-bottom: 0.6vh;

  text-shadow: -1px 1px 0 rgba(255, 237, 0, 255),
    -2px 2px 0 rgba(255, 237, 0, 255), -3px 3px 0 rgba(255, 237, 0, 255),
    -6px 6px 0 rgba(227, 0, 122, 255), -4px 4px 0 rgba(255, 237, 0, 255);

  -webkit-animation: myName 2.5s both;
  animation: myName 2.5s both;
}

.jobTitle {
  display: block;
  text-align: center;
  margin-top: 4vh;
  margin: 1vh;

  font-size: 4.5vh;
  text-align: center;
  color: rgba(0, 158, 225, 255);
}
