#title {
  position: absolute;
  display: block;
  left: 20vw;
  top: 0vh;
}
@-webkit-keyframes myName {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes myName {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.8;
  }
}
.myName {
  color: var(--blue-theme);

  display: block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 5vw;
  margin-bottom: 0.6vh;
  -webkit-animation: myName 2.5s both;
  animation: myName 2.5s both;
}

.jobTitle {
  display: block;
  text-align: center;
  margin-top: 4vh;
  margin: 1vh;
  text-shadow: 1.25px 1.25px 0 rgba(0, 0, 0, 0.35);
  font-size: 2.5vw;
  text-align: center;
  color: var(--blue-theme);
}

@media only screen and (max-width: 375px) {
  #title {
    position: absolute;
    display: block;
    width: 100%;
    left: 0%;
  }
  .myName {
    font-size: 180%;
    text-align: center;
  }

  .jobTitle {
    font-size: 100%;
    text-align: center;
  }
}
