#linksContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: -1%;
  width: 100%;
}

#subLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 35%;
  bottom: 0%;
}

#twitterContainer,
#gitHubContainer,
#linkedInContainer {
  height: 80%;
  border-radius: 100%;
}

#twitter,
#linkedIn,
#gitHub {
  bottom: 1%;
  /* margin-left: 0.5vw; */
  /* margin-right: 0.5vw; */
  cursor: pointer;
}

.links {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 375px) {
  .links {
    height: 80%;
    width: 80%;
  }
  #linksContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1%;
    left: 0%;
    bottom: -50%;
    width: 100%;
  }

  #subLinksContainer {
    width: 130%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 850px) {
  .links {
    width: 100%;
  }

  #subLinksContainer {
    width: 50%;
  }

  #twitterContainer,
  #gitHubContainer,
  #linkedInContainer {
    text-align: center;
    width: 100%;
    height: 100%;
  }

  #linksContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 1%;
    left: 0%;
    bottom: 1%;
    width: 100%;
    height: 40%;
  }
}
